include appMixins

!= viewLib.Messages(req , namespace)
style(type="text/css").
    textarea {
        width: 300px;
        height: 200px;
    }


mixin addToDropdown(layouts)
    each layout in layouts
        li
            a(href="javascript:;", class=namespace+"-layoutItem", data-id=layout.layoutId)=layout.name

//- Flash messages
.hide.alert.alert-error(id=namespace+"_errorFlash", data-autohide="true")
    button(class="close", data-dismiss="alert") x
    span.message

.hide.alert.alert-success(id=namespace+"_successFlash", data-autohide="true")
    button(class="close", data-dismiss="alert") x
    span.message


//- Plugin container
.toolbar.btn-toolbar
    button(class="btn btn-primary", type="button", id=namespace+"_create") Create
    &nbsp;
    .btn-group
        button(class="btn btn-primary dropdown-toggle",data-toggle="dropdown", id=namespace+"_open", disabled=isDisabled) Open
            span.caret
        ul.dropdown-menu
            +addToDropdown(layouts)
    &nbsp;
    button(class="btn btn-primary disabled", type="button", id=namespace+"_close", disabled="disabled") Close

    div(id=namespace+"_editForm")

+BottomScript(locals)
    script.
        require(["layoutBuilder"]);
