include appMixins
- var thread = req.attrs.thread, aP = req.attrs.actionsPermission;
- var hasAdd = aP.ADD_DISCUSSION.isAuthorized;
- var hasEdit = aP.EDIT_DISCUSSION.isAuthorized;
- var hasDelete = aP.DELETE_DISCUSSION.isAuthorized;
- var hasView = aP.VIEW.isAuthorized;
- locals.thread = thread, locals.hasAdd = hasAdd, locals.hasEdit = hasEdit, locals.hasDelete = hasDelete;
- locals.hasView = hasView;

- if(hasView)
    style.
        .comment-form textarea{
            width:95%;
        }

        .comment-form .post-button{
            margin-top: 10px;
        }
        .media .media-body .media-controls .reply,
        .media .media-body .media-controls .edit{
            margin-right: 5px;
        }

        .comment-list .reply-comment-form {
            margin-top: 10px;
        }
        .comment-list .editable-click{
            border-bottom: none;
        }

        .comment-list .media-content{
            white-space: pre-wrap;
        }

        .comment-list .editable-container.editable-inline{
            width: 100%;
        }

        .comment-list .editable-input{
            width: 100%;
            display: inline;
        }
        .comment-list .input-large{
            width: 70%;
        }

    div(id="#{thread.threadId}_thread", data-permissionschema="#{thread.linkedPermissionSchemaKey}")
        h3 Comments
        hr
        .form

        hr

        .comment-list.hide(id="#{thread.threadId}_commentList")


    +BottomScript(locals)
        script.
            require(["threadComments"], function(){
                Rocket.trigger({type:"threadComments:index:load", target:this, data:{
                    threadId: "#{thread.threadId}",
                    linkedPermissionSchemaKey: "#{thread.linkedPermissionSchemaKey}",
                    auth:{
                        hasAdd: #{hasAdd},
                        hasEdit: #{hasEdit},
                        hasDelete: #{hasDelete}
                    }
                }});
            });