include appMixins

div(id="#{namespace}_permissions")


+BottomScript(locals)
    script.
        require(["pluginURL"], function () {
            var container = $("##{namespace}_permissions")
            var obj = {p : JSON.parse('!{JSON.stringify(req.attrs.p)}')};
            Rocket.ajax({
                    url: Rocket.PluginURL.createByNamespace("#{namespace}",
                        "viewFile:permissionForm", obj, "exclusive", "appSettings"),
                    success: function (response) {
                        container.html(response);
                    }
            });

            $("##{namespace}_permissions").on("submit", "form", function(e){
                    e.preventDefault();
                    console.log(e)
                    var fm = this;
                    Rocket.Util.submitFormAsync(fm, function(r){
                        container.html(r);
                    },{mode:"exclusive"});
                });
        });


