!= viewLib.Messages(req , namespace)
- var roles = req.attrs.roles, actions = req.attrs.actions, actionsValue = req.attrs.actionsValue;
- var permissions = req.attrs.permissions, formAction = {route: 'updatePermissions'}, guestRoleId = req.attrs.guestRoleId;
- var isSettingsPlugin = !!req.attrs.isSettingsPlugin;
- if(req.attrs.hasAuth)
    form.form-horizontal(method="POST", action="#{viewLib.createURL(req , formAction)}", id='#{namespace +"_fm"}')
        input(name='#{namespace +"[redirect]"}', type="hidden", value="#{req.query.redirect}")
        input(name='#{namespace +"[modelId]"}', type="hidden", value="#{req.attrs.modelId}")
        input(name='#{namespace +"[name]"}', type="hidden", value="#{req.attrs.name}")
        input(name='#{namespace +"[type]"}', type="hidden", value="#{req.attrs.type}")
        input(name='#{namespace +"[modelPermissionSchema]"}', type="hidden", value="#{req.attrs.modelPermissionSchema}")
        input(name='#{namespace +"[values]"}', type="hidden")
        if isSettingsPlugin
            input(name='#{namespace +"[isSettingsPlugin]"}', type="hidden", value="#{isSettingsPlugin}")
        table.table.table-bordered
            thead
                tr
                    each role, i in roles
                        th= role.name
            tbody
                each action, i in actions
                    tr
                        th=action
                        each role, j in roles
                            if role
                                td
                                    - var roleId = role.roleId
                                    - var chkStr = permissions[roleId].indexOf(actionsValue[action]) > -1 ? 'checked' : '';
                                    //-only VIEW action is enabled for Guest to give permission
                                    - disableStr = (roleId == guestRoleId.toString() && action != "VIEW") ? "disabled" : "";
                                    != '<input type="checkbox" name="'+ namespace+'[' + roleId + '___' + action +']"' + chkStr + ' ' + disableStr +'/>'
        .form-actions
            button.btn.btn-primary(type="submit") Save
            -if(req.query.redirect)
                | &nbsp;
                button.btn(id='#{namespace +"_cancel"}') Cancel
                +BottomScript(locals)
                    script.
                        require(["util"], function () {
                            var ns = "#{namespace}";
                            Rocket.Util.onFormCancel("#{namespace + '_cancel'}");
                        });


        script.
            require(["util"], function () {
                function setValue(){
                    var v = _.map($('#managePermissions_fm :checked'), function(n){
                        return $(n).attr("name").split("[")[1].split("]")[0];
                    });
                    $("input[name='managePermissions[values]']").val(v.join());
                }
                $("#managePermissions_fm").on("click", "input[type='checkbox']", function(e){
                    setValue();
                });
                setValue();
            });