include appMixins

+BottomScript(locals)
    script.
        require(["main", "bootstrap", "pace"], function(main, bootstrap, pace){
            pace.start();
            Rocket.PageValues = {
                getPageId: function(){
                    return "#{page.pageId}";
                },
                getPageFriendlyURL : function(){
                    return "#{page.friendlyURL}";
                }
            };
            Rocket.Props = {
                getAppUrl: function(){
                    return "#{props.appURL}"
                },
                getAppSettingsUrl: function(){
                    return "#{utils.getAppSettingsURL(req)}"
                },
                getPluginIdAndIId: #{getPluginIdAndIId}
            };
            Rocket.User ={
                getUserName : function(){
                    return "#{user.userName}";
                },
                getUserFullName : function(){
                    return "#{user.firstName + '' + user.lastName}";
                },
                isSignedIn : function(){
                    return #{req.session.loggedIn};
                },
                getUserId: function(){
                    return "#{user.userId}";
                },
                getProfilePicURL: function(){
                    return '!{getUserProfilePicURL(user)}' ;
                },
                getDefaultProfilePicURL: function(){
                    return '!{getDefaultProfilePicURL()}';
                }
            }
        });
- if(req.params.plugin)
    +BottomScript(locals)
        script.
            require(["plugin"], function(){
                var currentPlugin = {
                    pluginId : '#{req.params.plugin}'
                };
                if('#{req.params.iId}'){
                    currentPlugin.iId = '#{req.params.iId}';
                }
                currentPlugin.namespace = '#{req.params.namespace}';
                Rocket.Plugin.currentPlugin = currentPlugin;
            });




-if(req.session.loggedIn &&  (req.query && req.query.mode != "maximized"))
    -if(hasPageUpdatePermission)
        script(type='text/javascript').
            require(['layout']);

    -if(isIncludeHandlePlugin)
        script(type='text/javascript').
            require(['handlePlugins']);

